@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.table {
  &__container {
    width: 100%;
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;

  }

  &__header {
    z-index: 1;
    width: 100%;
    position: sticky;
    top: 150px;
    border-left: 0;
    border-right: 0;
    padding: 5px 0;
    background-image: url('/../public/assets/images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::before,
    &::after {
      content: '';
      width: 100%;
      max-width: 1000px;
      height: 5px;
      border: 1px solid #000;
      border-left: none;
      border-right: none;
      top: auto;
      left: 0;
      right: 0;
      bottom: auto;
      margin: auto;
      position: absolute;
    }

    &::before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
    }

    &__wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 1000px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__title,
    .size {
      font-family: 'Cinzel Decorative', serif;
      font-weight: 800;
      font-style: normal;
      color: #790000;
    }

    &__sizes {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;
      column-gap: 10px;

      .size {
        text-align: right;
        width: 70px;
        text-transform: uppercase;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__title {
      
    }

    &__prices {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;
      column-gap: 10px;

      .price {
        text-align: right;
        width: 70px;
        font-weight: 500;
      }
    }
  }
}
