.menu {

    &__container {
        width: 100%;
        position: sticky;
        top: 0;
        // 
        background-color: red;
    }

    &__wrapper {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        height: 150px;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 100px;
        position: relative;
        width: 100%;
        // 
        background-color: blue;
    }

    &__title {
        margin: 0;
        font-size: 60px;
    }

    &__image {
        bottom: auto;
        height: auto;
        left: auto;
        margin: auto;
        position: absolute;
        right: auto;
        top: 0;

        &.primary {
            top: -100px;
            right: calc(100% - 100px);
            width: 200px;
        }
        &.secondary {
            top: -150px;
            left: calc(100% - 150px);
            width: 300px;
        }
    }
}